doctype html
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        //- meta(http-equiv="Content-Security-Policy" content="default-src 'self'; frame-src 'self' https://fonts.googleapis.com https://js.stripe.com/ https://127.0.0.1:64020; script-src 'self' https://js.stripe.com/;")
        //- script(src='https://js.stripe.com/v3/')
        //- script(src='/js/stripe.js')
    title Natours | #{title}
    //- Access to Public Folder
    link(rel='stylesheet' href='/css/style.css')
    link(rel='shortcut icon' href='/img/favicon.png' type='image/png')
    link(rel='stylesheet' href='https://fonts.googleapis.com/css?family=Lato:300,300i,700')

    body
        // Header
        include _header

        // Content
        block content
            // This is a placeholder for Content Block  

        // Footer
        include _footer

        block scripts
            script(src='/js/bundle.js')
            // This is where scripts come from templates